 <!DOCTYPE html>
<html>
<title>Home</title>
<body>

<head>
<link rel="stylesheet" href="columns.css">
	<h1 style="text-align:center;">Todo list</h1>

	<hr></hr>
</head>

<p>
 <img  src="img1.jpg" alt="Todo"  width="200" height="200" align="left"> 

 <br></br>
  	Create a todo list give the opportunity of have a best organization
</p>

  <div >

  </div>

</body> 

</html> 