	<h1 style = "text-align:center; font-family: Roboto">Phoenix Framework</h1>




	<dir></dir>

	<p>Phoenix is a web framework built with the <ins>Elixir programming language</ins>. Elixir, built on the Erlang VM, is used for building low-latency, fault-tolerant, distributed systems</p>


	<iframe width="600" height="400" src="https://www.youtube.com/embed/8GOXFHPZK4o">
	</iframe>

	<dir></dir>

	<h2 style="font-family: slab"><b>Architecture</b></h2>

  <p>The planning and design of a site’s information architecture (IA) to establish structure and enhance usability.</p>
  

  <p>The Phoenix framework comprises several parts, each handling their own roles.</p>

 <ul>
 	<li>Enpoints</li>
 	<li>Router</li>
 	<li>Controllers</li>
 	<li>Views/Templeates</li>
	<li>Channels</li>
	<li>Pubsub</li>
	<li>Plug</li>
	<li>Ecto</li>



 </ul>