


<h2 style="text-align: center;"> Create a new user</h2>



<form>
	

	<label for="fname">Name</label><br>
  <input type="text" id="name" name="name"><br>

  <br>
  <label for="email">Email</label><br>
  <input type="text" id="email" name="email"><br>
  <br>

  <label for="phone">Phone</label><br>
  <input type="text" id="phone" name="phone"><br>
  <br>

  <input type="submit" name="submit">


</form>


