

	<h1 style="text-align:center;"><b>Todo list</b></h1>

 
 	
 	 <h1 style="font-family: courier"><b>What is??</b></h1>
  
 		<div style="background-color:#92a37c;color:white;padding:20px;">
  
   		<p>
   	   Organizations are systems created to achieve common goals through people-to-people and people-to-work relationships. They are essentially social entities that are goal-directed, deliberately structured for coordinated activity systems, and is linked to the external environment. Organizations are made up of people and their relationships with one another. Managers deliberately structure and coordinate organizational resources to achieve the organization’s purpose.
   		</p>
  	    <img src="images/imag1.jpg" alt="imag1"> 

   	 </div>

 	

  

 

