 <h1 style="text-align: center;">Agendas</h1>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
</style>



	<table>
		<tr>
			<td>
				<img src="https://charucashop.com/5277-home_default/agenda-sin-fechas-minimal-semananotas.jpg" alt="Agenda"
    	 style="width: 200px; height: 200px"> 
    	<h4><b>Agenda</b></h4> 
    	<p>$ 250</p>
			</td>


			<td>
				<img src="https://www.hola.com/imagenes/seleccion/20211124200196/mejores-agendas-2022/1-26-317/agenda-confia-de-lucia-b-a.jpg" alt="Agenda pink"
    	 style="width: 200px; height: 200px"> 
    	<h4><b>Pencils</b></h4> 
    	<p>$ 50</p>


			</td>

			<td>
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGXX5Ozsfu8DtDKJET0OZuP2PvGcd-k5Ylow&usqp=CAU"alt="Agenda-blue"
    	 style="width: 200px; height: 200px"> 
    	<h4><b>Agenda Azul</b></h4> 
    	<p>$ 239</p>


			</td>
			
			
		</tr>
		
		<tr>
			<td>
				<img src="https://marysia.mx/wp-content/uploads/2021/11/20211028-729A7993-500x500.jpg" alt="Agenda flowers" 
    	 style="width: 200px; height: 200px"> 
    	<h4><b>Agenda de flores</b></h4> 
    	<p>$ 250</p>
			</td>


			<td>
				<img src="https://www.creapromocion.com/26444-home_default/agenda-publicitaria-bicolor-dia-pagina-con-funda-17x24-cm.jpg" alt="Agenda bicolor"
    	 style="width: 200px; height: 200px"> 
    	<h4><b>Agenda Bicolor</b></h4> 
    	<p>$ 190</p>


			</td>

			<td>
				<img src="https://images-eu.ssl-images-amazon.com/images/I/41sqXE3i2mL.jpg" alt="Agenta text" 
    	 style="width: 200px; height: 200px"> 
    	<h4><b> Agenta hazlo</b></h4> 
    	<p>$ 350</p>


			</td>
			
			
		</tr>
	
</table>
    	 

    
