<label>
    Price: <%= text_input f, :price %>
  </label>

  <label>
    description: <%= text_input f, :description%>
  </label>

   <label>
    name: <%= number_input f, :name%>
  </label>

  <%= submit "Submit" %>
<% end %>